html,
body {
  margin: 0 auto;
}

#mentorship-navbar {
  background: rgba(25, 107, 105, 1) !important;
  min-height: 120px !important;
  color: #fff !important;
}
#YP-logo-text {
  font-size: 55px;
  font-weight: 900;
  font-family: roboto;
  color: #fff;
}
#navbar-group {
  min-width: 60%;
  display: inline-flex;
  margin: auto;
}
ul.navbar-nav {
  flex: auto;
  display: contents;
  margin: 0 auto;
}
ul.navbar-nav > li.nav-item {
  color: #fff !important;
}
ul.navbar-nav > li.nav-item > a.nav-link {
  color: #fff !important;
}
li.nav-item {
  padding: 10px;
}
.mediaViewInfo {
  --web-view-name: Home;
  --web-view-id: Home;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

:root {
  --web-view-ids: Home;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#Home {
  position: absolute;
  width: 100%;
  background-color: rgba(232, 241, 241, 1);
  overflow: hidden;
  --web-view-name: Home;
  --web-view-id: Home;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#hero {
  min-height: 556px;
  max-height: 656px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  background-attachment: fixed !important;
  background: linear-gradient(rgba(3, 3, 3, 0.82), rgba(3, 3, 3, 0.45)),
    url("../../image/home/hero.png") !important;
}
#hero > article {
  padding: 50px !important;
}
#hero > article > h1 {
  font-size: 70px;
  font-weight: 900;
}
#hero > article > p {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
/* .nape-section-card{
     border: 1px solid rgba(243, 243, 243, 0.781); 
} 
*/
.hard-row {
  color: #fff !important;
  background-color: #fff !important;
}
#Component_20___1 {
  position: absolute;
  width: 29.121px;
  height: 29px;
  left: 1227px;
  top: 77px;
}
#footer {
  min-height: 512px !important;
}
/**NAPE Colour styling**/
.btn-nape-color {
  background-color: #2f7977 !important;
  color: white !important;
  font-weight: 600 !important;
  padding: 10px !important;
}
.bg-white-nape{
  background-color: #FFFFFF !important;
}
/**NAPE Custom desktop padding styling**/
.section-desktop-padding{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.article{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  letter-spacing: 1pt;
}
/*Bootstrap form styling*/
.form-control{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color:
  #495057;
  background-color:
  #fff;
  background-clip: padding-box;
  border: 1px solid
  #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-image: none;
}
.img-responsive-custom{
  width: 100%;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}